body {
  font-family: "Avenir Next";
  padding:0px;
  margin:0px;
}

li {
  list-style: none;
}

.ad{
  font-size:40px;
  color: #333333;
  text-align: center;
}

.header{
  background-color:#444;
  color:#eeeeee;
  height:90px;
}

.header-logo{
  float:left;
  font-size:36px;
  padding:20px 30px;
}

.header-list{
  float:right;
}
.header-list li{
  float:left;
  padding:20px 10px;
}

.main{
  background-color: rgb(236, 243, 172);
  padding:100px 50px;
}

.main-visual{
  font-size:80px;
  text-align:center;
}

.contents{
  font-size:20px;
  /*text-align:center;*/
  margin-top: 50px;
  /*text-decoration: line-through;*/
  /*height: 5000px;*/
}

.section-title{
  border-bottom: 2px solid #dee7ec;
  text-align:center;
}

.section-main-block{
  display: flex;
}

.section-main-image{
  background-color: bisque;
}

.section-main-text{
  background-color: rgb(211, 19, 195);
}

.imgicon{
  width: 80%;
  height:auto;
  margin:10px 10px;
  vertical-align: middle;
}




.section-work-block {
  /*height: 500px;*/
  margin-top: 100px;
  overflow:auto; 
  background-color: darkgoldenrod;
}

.asection-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  background-color: darkred;
}

.works-card {
  width: 200px;
  background-color: cadetblue;
  float: left;
  margin: 10px;
  text-align:center;
  border: 0.5px solid #555;
}

.works-card p {
  font-size: 24px;
  margin-top: 30px;
}

.works-card .madopic{
  width: 80%;
  height:auto;
  margin:10px 10px;
  vertical-align: middle;
}















.footer {
  background-color: #444;
  color: #eee;
  height: 100px;
  padding: 10px;
}

.footer-contact{
  float:left;
  /*background-color: #888;*/
  padding: 0px;
  height:100px;
  border: solid 1px #fff;
}
.contact-index{
  /*background-color: cornflowerblue;*/
  margin:0px;
}
.contact-list{
  margin:0px;
  padding:0px 10px;
}
.list-content{
  /*display:inline-block;*/
  display:flex;
  justify-content: center;
  padding: 0px;
  /*background-color: rgb(255, 190, 110);*/
  width:280px;
  height:70px;
}
.list-content p{
  margin:0px;
  text-align: center;
}
.contact-list a{
  /*background-color: rgb(105, 238, 105);*/
  display:table-cell;
  margin:0px;
  text-decoration: none;
  color:#eee;
}
.twiimgicon{
  width: 20%;
  height:auto;
  margin:10px 10px;
  vertical-align: middle;
}
.footer-copyright{
  float:right;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*.footer-copyright{
  float:right;
  padding :10px;
}*/

