body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.ad{
  font-size:40px;
  color: #333333;
  text-align: center;
}

.header{
  background-color:#555555;
  color:#eeeeee;
  height:90px;
}

.header-logo{
  float:left;
  font-size:36px;
  padding:20px 40px;
}

.header-list li{
  float:left;
  padding:33px 40px;
}

.main{
  padding:100px 80px;
}

.main-visual{
  font-size:80px;
  text-align:center;
}

.contents{
  font-size:5px;
  text-align:center;
  margin-top: 50px;
  text-decoration: line-through;
}

.footer {
  background-color:#555555;
  color:#eeeeee;
  height: 120px;
  padding: 40px;
}

.footer-logo{
  float:left;
  font-size:32px;
}

.footer-list{
  float:right;
}

.footer-list li{
  padding-bottom:20px;
}
